<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediasoftindonesia.taniapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="Lapaktani"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity
            android:name=".FirstSplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChoiceActivity" />
        <activity
            android:name=".MyIntro"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".SplashScreenActivity" />
        <activity
            android:name=".CreateNewAccountActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KatalogFragment" />
        <activity
            android:name=".ArtikelActivity"
            android:noHistory="true" />
        <activity
            android:name=".LoginPembeliActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuyerCreateNewAccountActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Main2Activity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArtikelPembeliActivity"
            android:noHistory="true" />
        <activity
            android:name=".PemesananActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:screenOrientation="portrait"
            android:value="@string/google_maps_key" />

        <activity android:name=".EditProfilPetaniActivity"></activity>
    </application>

</manifest>